@using JBSoft.Web.Helpers;
@using MvcContrib.UI.Grid;
@using MvcContrib.UI.Grid.ActionSyntax;

@model QualityServices.ViewModels.BeautyHairListViewModel

<div id="@Model.ReplaceDivName">
@using (Ajax.BeginForm("RefreshItems", new { controller = "BeautyHair" }, null, new AjaxOptions()
       {
           OnSuccess = "SuccessfulSubmit",
           UpdateTargetId = Model.ReplaceDivName,
           InsertionMode = InsertionMode.Replace
       }))
{
        @Html.HiddenFor(model => model.Page)
    
    <div>
   
       <input class="input-big" type="text" placeholder="Search">&nbsp; <button class="btn" type="button" onclick="javascript:UrlRefreshGrid()">Search</button>
       <input type="button" value="Clear Criteria" class="normal" style="float:none" onclick="javascript:ClearAll()" />
    </div>
    <br />

<div class="pageDetails">
<table class="grid">
<tr class="header">
<th class="header">Name</th>
<th class="header">Classification</th>
<th class="header">Location</th>
<th class="header">Contact</th>
<th class="header">Rating</th>

<th class="header"></th>

</tr>


@if (Model.NonpagedList != null && Model.NonpagedList.Count != 0)
{
    foreach (var listItem in Model.NonpagedList)
    {
        <tr>
        
        <td width="20%">@listItem.ServiceName</td>
        <td width="20%"></td>
        <td width="20%"></td>
        <td width="20%"></td>
        <td width="20%"></td>
        <td width="5%"><button class="gridButton" id="Edit" name="Edit" onclick = "javascript:GetDetail('@listItem.Id.ToString().Replace("_", "-")');" title="View" type="button"><img alt="View" src="@Url.Content("~/Content/Icons/view.png")" /> </button></td>
        
        
        </tr>
      
    }//end of for
}
</table>

</div>
}
</div>