@{
    ViewBag.Title = "Home Page";
}

@section SideBar {
    
}

 

<p>
    <br />
    <br />
    <br />

    @Html.ActionLink("Beauty & Hair", "Index", "BeautyHair", new { @class = "but_add" }, "")
    @Html.ActionLink("- Handyman", "Index", "Handyman", new { @class = "but_add" }, "")

    <br />
    <br />

    <input type="button" value="Beauty & Hair" style="height:100px; width:120px; background-color:#80AF80; font-size: 15px; line-height: normal; padding: 9px 14px 9px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background-size: 35 px; background-image: url(@Url.Content("~/Content/images/hair-and-beauty.jpg")); background-repeat: no-repeat;" onclick="javascript:GoToBeautyHair();"></button>
    <input type="button" value="Handyman" style="height:100px; width:120px; background-color:#FEE949; font-size: 15px; line-height: normal; padding: 9px 14px 9px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background-image: url("@Url.Content("~/Content/images/hair-and-beauty.jpg")"); background-repeat: no-repeat;"></button>
    <input type="button" value="Medical" style="height:100px; width:120px;background-color:#EBF2FD; font-size: 15px; line-height: normal; padding: 9px 14px 9px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background-image: url("@Url.Content("~/Content/images/hair-and-beauty.jpg")"); background-repeat: no-repeat;"></button>
    <input type="button" value="Entertainment" style="height:100px; width:120px;background-color:#9A0000; font-size: 15px; line-height: normal; padding: 9px 14px 9px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background-image: url("@Url.Content("~/Content/images/hair-and-beauty.jpg")"); background-repeat: no-repeat;"></button>
    <div style="width:100%;">&nbsp;</div>
    <input type="button" value="Sport" style="height:100px; width:120px;background-color:#FF2A2A; font-size: 15px; line-height: normal; padding: 9px 14px 9px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background-image: url("@Url.Content("~/Content/images/hair-and-beauty.jpg")"); background-repeat: no-repeat;"></button>
    <input type="button" value="Educational" style="height:100px; width:120px;background-color:#2A8CB1; font-size: 15px; line-height: normal; padding: 9px 14px 9px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background-image: url("@Url.Content("~/Content/images/hair-and-beauty.jpg")"); background-repeat: no-repeat;"></button>
    <input type="button" value="Delivery" style="height:100px; width:120px;background-color:#FF2A2A; font-size: 15px; line-height: normal; padding: 9px 14px 9px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background-image: url("@Url.Content("~/Content/images/hair-and-beauty.jpg")"); background-repeat: no-repeat;"></button>
    <input type="button" value="Domestic" style="height:100px; width:120px;background-color:#5E6156; font-size: 15px; line-height: normal; padding: 9px 14px 9px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background-image: url("@Url.Content("~/Content/images/hair-and-beauty.jpg")"); background-repeat: no-repeat;"></button>

  
</p>

<script type="text/javascript">
    

    function GoToBeautyHair() {
        urlAction = '@Url.Action("About", new { controller = "Home" })';

        $.ajax({
            type: 'POST',
            url: urlAction,
            data: '',
            success: function (data, textStatus, XMLHttpRequest) {
                
            }
        });
        }

</script>
