@{
    ViewBag.Title = "Home Page";
}

@section SideBar {
    
}

 

<p>


    <div id="boxbeautyhair">@Html.ActionLink("Beauty & Hair", "Index", "BeautyHair", "", "")&nbsp;<br />
        
    </div>
    <div id="boxhandyman">@Html.ActionLink("Handyman", "Index", "Handyman", "", "")&nbsp;</div>
    <div id="boxbeautyhair">@Html.ActionLink("Medical", "Index", "Medical", "", "")&nbsp;</div>
    <div id="boxbeautyhair">@Html.ActionLink("Entertainment", "Index", "Entertainment", "", "")&nbsp;</div>
    <div id="boxbeautyhair">@Html.ActionLink("Educational", "Index", "Educational", "", "")&nbsp;</div>
    <div id="boxbeautyhair">@Html.ActionLink("Delivery", "Index", "Delivery", "", "")&nbsp;</div>
    <div id="boxbeautyhair">@Html.ActionLink("Financial", "Index", "Financial", "", "")&nbsp;</div>
    <div id="boxbeautyhair">@Html.ActionLink("Domestic", "Index", "Domestic", "", "")&nbsp;</div>

    
    

    <br />
    <br />
    
  
</p>

<script type="text/javascript">
    

    function GoToBeautyHair() {
        urlAction = '@Url.Action("About", new { controller = "Home" })';

        $.ajax({
            type: 'POST',
            url: urlAction,
            data: '',
            success: function (data, textStatus, XMLHttpRequest) {
                
            }
        });
        }

</script>
